body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(135deg, #6a11cb, #ffffff);
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #6a11cb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #520db3;
}