*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:tahoma;
}

.cyber{
  min-height:100vh;

  background:
  linear-gradient(
  135deg,
  #3b0764,
  #6d28d9,
  #4c1d95
  );

  display:flex;
  justify-content:center;
  align-items:center;

  padding:20px;
}

.overlay{
  display:none;
}

.hero-card{
  width:100%;
  max-width:500px;

  background:
  rgba(255,255,255,.08);

  backdrop-filter:blur(20px);

  border-radius:30px;

  padding:30px;

  text-align:center;

  color:white;

  box-shadow:
  0 0 40px rgba(168,85,247,.35);
}

.hero-image{
  width:100%;
  border-radius:20px;
  margin-bottom:20px;
}

input{
  width:100%;
  padding:16px;

  border:none;

  border-radius:15px;

  margin-top:15px;

  font-size:18px;
}

.purple-btn{
  width:100%;

  margin-top:20px;

  padding:16px;

  border:none;

  border-radius:15px;

  background:#9333ea;

  color:white;

  font-size:18px;

  cursor:pointer;
}